-# .pagebox
-#   %p.pagebox__flashbox
-#     グループを作成しました。
.body__wrapper
  = render "leftside"
  
  .rightside
    .rightside__groupbox
      .rightside__groupbox__namebox
        %p.rightside__groupbox__namebox__name
          momo
        %p.rightside__groupbox__namebox__member
          member :momosaki yuta
      = link_to "Edit", "#", class: "rightside__groupbox__btn" 
        
    .rightside__chatmain    
      = render "chatmain"
         
    %form.rightside__formbox
      .rightside__formbox__textbox
        %input.rightside__formbox__textbox__text{:tepe => "text", :placeholder => "type a message", :valu => ""}
          
        =link_to "#", class: "rightside__formbox__textbox__icon__image" do
          = fa_icon 'image'
      = link_to "Send", "#", class: "rightside__formbox__btn"
      