-# .pagebox
-#   %p.pagebox__flashbox
-#     グループを作成しました。
.body__wrapper
  .leftside__wrappe
    = render "leftside"
  
  .rightside
    .rightside__groupbox
      .rightside__groupbox__namebox
        %p.rightside__groupbox__namebox__name
          momo
        %p.rightside__groupbox__namebox__member
          member :momosaki yuta
      = link_to "Edit", "#", class: "rightside__groupbox__btn" 
        
    .rightside__chatmain   
      = render @messages
         
    = form_for [@group, @new_message] do |f|
      .rightside__formbox
        .rightside__formbox__textbox
          = f.text_field :content, {class: "rightside__formbox__textbox__text", placeholder: "type a message"}
          = f.label :image, {class:"rightside__formbox__textbox__image"} do
            = fa_icon "picture-o"
            = f.file_field :image, {class:"rightside__formbox__textbox__image--hidden"}
        = f.submit "Send", {class:"rightside__formbox__btn"}
       
     
      