= form_for @group do |f|
  -if @group.errors.any?
    .chat-group-form__errors
      %h2="#{@group.errors.full_messages.count}件のエラーがあります"
      %ul
        -@group.errors.full_messages.each do |message|
          %li="#{message}"
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label "グループ名", class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, id: "chat_group_name", class:"chat-group-form__input",placeholder:"グループ名を入力してください"
  .chat-group-form__field
    .chat-group-form__field--left
      %label{class:"chat-group-form__label" , for:"chat_group_チャットメンバーを追加"} チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        %input{class: "chat-group-form__input", id:"user-search-field", placeholder:"追加したいユーザー名を入力してください", type:"text"}
      #user-search-result
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label "チャットメンバー", class:"chat-group-form__label"
    .chat-group-form__field--right{id:"user-joined-in"}
      %input{type:"hidden", name:"group[user_ids][]", value:""}
        -@group.users.each do |user|
          .chat-group-user.clearfix
            %p{class:"chat-group-user__name"}
              =user.name
            .user-search-add.chat-group-user__btn.chat-group-user__btn--remove{"data-user-id": "#{user.id}","data-user-name": "#{user.name}"}削除
            %input{type:"hidden", value:"#{user.id}", checked:"checked", name:"group[user_ids][]", id:"group_user_ids_#{user.id}"}
  .chat-group-form__field
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit class:"chat-group-form__action-btn"
  